.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #78909c;
  background: linear-gradient(
    135deg,
    #00f5d4 0%,
    #00f5d4 50%,
    #fee440 50%,
    #fee440 100%
  );
}
